always-auth=true
//npm.greensock.com/:_authToken=673d530d-4be6-4cd3-a266-893c77dba41f
@gsap:registry=https://npm.greensock.com
@awesome.me:registry=https://npm.fontawesome.com/
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=34EDC19A-34A9-458E-989B-EBB8ECCDE8D4