---
import { storyblokEditable } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'

const { blok } = Astro.props
console.log(blok)
---

<main {...storyblokEditable(blok)}>
    {
        // blok.body?.map((blok) => {
        //     return <StoryblokComponent blok={blok} />
        // })
    }
</main>
