---
// get current path in astro
const currentPath = Astro.url.pathname
const paths = currentPath.split('/')
console.log(currentPath)
---

<header class="mbp__nav">
    <div class="mbp__wrapper">
        <nav class="">
            <a href="/" title="MELBORP" class="mbp__logo">
                <div class="hidden">Melborp</div>
                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="120" height="36" fill="none"
                    ><path
                        fill="currentColor"
                        fill-rule="evenodd"
                        d="M0 8.053h1.505v4.148h.077c.334-1.338 1.092-2.43 2.275-3.28 1.196-.861 2.553-1.305 4.07-1.33.977 0 1.832.115 2.565.347.72.244 1.33.572 1.832.983.965.874 1.543 1.865 1.736 2.97h.078c1.105-2.841 3.252-4.275 6.441-4.3 1.89 0 3.414.54 4.571 1.62 1.157 1.131 1.749 2.893 1.775 5.285v13.868H25.44V14.457c0-1.286-.187-2.327-.56-3.125-.373-.733-.848-1.273-1.427-1.62-.528-.36-1.055-.591-1.582-.694a7.988 7.988 0 0 0-1.292-.135c-1.851 0-3.369.636-4.551 1.91-1.21 1.26-1.813 3.112-1.813 5.555v12.016H12.71V14.457c0-1.286-.186-2.315-.559-3.086-.36-.733-.804-1.273-1.331-1.62-.527-.386-1.041-.63-1.543-.733a8.214 8.214 0 0 0-1.35-.135c-1.517 0-2.938.585-4.262 1.755-1.39 1.209-2.11 3.112-2.16 5.71v12.016H0V8.054ZM48.718 28.364h1.504V.164h-1.504v28.2ZM65.159 26.628a7.082 7.082 0 0 0 2.237-2.256c1.08-1.968 1.62-4.18 1.62-6.635 0-2.341-.604-4.38-1.813-6.116-1.208-1.761-3.04-2.674-5.496-2.738-2.623.026-4.571.855-5.844 2.488-1.26 1.633-1.89 3.755-1.89 6.366-.027 2.584.578 4.835 1.812 6.75 1.209 1.98 3.183 2.996 5.922 3.048 1.35 0 2.5-.302 3.452-.907ZM52.429.164h1.505v12.21h.077c.63-1.607 1.659-2.81 3.086-3.607 1.414-.785 2.95-1.176 4.61-1.176 3.008.025 5.232.996 6.673 2.912 1.427 1.928 2.14 4.34 2.14 7.234-.025 2.39-.34 4.314-.945 5.767-.655 1.479-1.446 2.61-2.372 3.394-.952.772-1.909 1.286-2.874 1.543-1.002.27-1.877.405-2.622.405-1.286-.025-2.405-.25-3.356-.675-.939-.424-1.73-.912-2.373-1.466-1.183-1.26-1.839-2.224-1.967-2.893h-.077v4.552H52.43V.164ZM75.074 24.66c1.312 1.866 3.233 2.823 5.766 2.875 2.585-.052 4.533-1.01 5.844-2.874 1.312-1.8 1.968-3.948 1.968-6.442 0-2.534-.656-4.707-1.968-6.52-1.31-1.813-3.259-2.752-5.844-2.816-2.533.064-4.454 1.003-5.766 2.816-1.376 1.813-2.064 3.986-2.064 6.52 0 2.494.688 4.642 2.064 6.442Zm-1.119-13.945c1.607-2.031 3.903-3.073 6.885-3.124 3.022.05 5.324 1.093 6.905 3.124 1.608 2.019 2.411 4.52 2.411 7.504 0 2.944-.803 5.433-2.41 7.464-1.582 2.044-3.884 3.1-6.906 3.164-2.982-.065-5.278-1.12-6.885-3.164-1.62-2.031-2.43-4.52-2.43-7.464 0-2.984.81-5.485 2.43-7.504ZM116.344 24.777c1.182-1.801 1.774-3.974 1.774-6.52 0-2.43-.579-4.578-1.736-6.443-1.209-1.89-3.169-2.867-5.883-2.931-2.661.064-4.57 1.016-5.728 2.855-1.157 1.838-1.723 4.011-1.697 6.519-.026 2.469.501 4.604 1.582 6.404 1.105 1.864 3.053 2.822 5.843 2.874 2.636-.026 4.584-.946 5.845-2.758ZM103.036 12.72h.077c.321-1.131 1.086-2.25 2.295-3.356 1.183-1.131 2.88-1.723 5.091-1.774 3.112.05 5.414 1.105 6.905 3.163 1.479 2.018 2.218 4.52 2.218 7.503 0 3.125-.739 5.651-2.218 7.58-1.491 1.98-3.793 2.983-6.905 3.01-1.684 0-3.169-.386-4.454-1.158-1.326-.758-2.302-1.942-2.932-3.549h-.077v11.496h-1.504V8.053h1.504v4.668ZM97.801 8.053h1.485v20.311h-1.485V17.273c-.09-1.504-.315-2.681-.675-3.53-.347-.836-.887-1.613-1.62-2.333-.951-.888-1.929-1.48-2.931-1.775-.977-.257-1.87-.322-2.682-.193V7.938c1.865-.052 3.51.36 4.938 1.234 1.453.887 2.399 2.019 2.835 3.394h.135V8.053ZM45.283 17.1c-.193-2.096-.92-3.975-2.18-5.633-1.26-1.659-3.02-2.52-5.284-2.584-2.353.064-4.172.893-5.458 2.488-1.26 1.607-1.916 3.517-1.967 5.728h14.889Zm-16.394 1.31c-.167-3.034.476-5.574 1.929-7.618 1.479-2.083 3.812-3.15 7-3.202 3.023.051 5.285 1.17 6.79 3.356 1.504 2.16 2.224 4.7 2.16 7.62.026 2.867-.72 5.278-2.237 7.233-1.505 1.967-3.742 2.982-6.712 3.047-4.95-.065-7.876-2.514-8.775-7.35h1.504c.861 3.975 3.285 5.987 7.27 6.038 2.496-.026 4.36-.957 5.594-2.796 1.273-1.775 1.897-3.884 1.871-6.327H28.889Z"
                        clip-rule="evenodd"></path></svg
                >
            </a>
            <ul class="mbp__nav">
                <li><a href="/work" class={paths.includes('work') && 'active'}>WORK</a></li>
                <li><a href="/team" class={paths.includes('team') && 'active'}>TEAM</a></li>
                <li><a href="/contacto" class={paths.includes('contacto') && 'active'}>CONTACT</a></li>
            </ul>
        </nav>
    </div>
</header>

<style>
    header {
        @apply z-50 flex justify-center items-center py-8 h-24 fixed top-0 left-0 w-full mix-blend-difference;
        nav {
            @apply flex justify-between items-center w-full mix-blend-exclusion text-white  transition-all duration-300;
            &.str {
                @apply px-4;
            }
            .mbp__nav {
                @apply flex gap-4 font-light;
                a {
                    @apply text-sm uppercase font-light;
                    &.active {
                        @apply font-bold;
                    }
                }
            }
        }
    }
</style>
