---
import '@awesome.me/kit-6328404de0/icons/css/all.min.css'

import { GoogleFontsOptimizer } from 'astro-google-fonts-optimizer'
import Header from '../components/Header.astro'
import { SEO } from 'astro-seo'

const isProd = import.meta.env.PROD

interface Props {
    story_seo: object
}
const { story_seo } = Astro.props
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />

        <meta name="viewport" content="width=device-width" />
        <link rel="icon" href="/icon.png" type="image/png" sizes="222x222" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <SEO
            title={((story_seo as { title?: string }).title || 'Melborp _ Business Updaters') +
                ' | Melborp _ Business Updaters'}
            description={(story_seo as { description?: string }).description ||
                'Somos un Business Updaters y nuestro objetivo es usar la creatividad para transformar negocios que puedan cambiar el mundo.'}
            openGraph={{
                basic: {
                    type: 'website',
                    title: (story_seo as { og_title?: string }).og_title || 'Melborp _ Business Updaters',

                    image: (story_seo as { og_image?: string }).og_image || 'https://melborp.art/fb.png',
                },
            }}
            twitter={{
                creator: '@melborpco',
            }}
            extend={{
                // extending the default meta tags
                meta: [
                    {
                        name: 'twitter:image',
                        content:
                            (story_seo as { twitter_image?: string }).twitter_image || 'https://melborp.art/fb.png',
                    },
                    {
                        name: 'twitter:title',
                        content:
                            (story_seo as { twitter_title?: string }).twitter_title || 'MELBORP - Business Updaters',
                    },
                    {
                        name: 'twitter:description',
                        content:
                            (story_seo as { twitter_description?: string }).twitter_description ||
                            'Somos un Business Updaters y nuestro objetivo es usar la creatividad para transformar negocios que puedan cambiar el mundo.',
                    },
                ],
            }}
        />
        <GoogleFontsOptimizer
            url="https://fonts.googleapis.com/css2?family=Anton&family=Martian+Mono:wdth,wght@75..112.5,100..800&display=swap"
        />
    </head>

    <body class={!isProd ? 'debug-screens' : ''}>
        <Header />
        <main>
            <slot />
        </main>

        <script src="../scripts/mbp.js"></script>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-31253831-1"></script>
        <script>
            window.dataLayer = window.dataLayer || []
            function gtag() {
                dataLayer.push(arguments)
            }
            gtag('js', new Date())

            gtag('config', 'UA-31253831-1')
        </script>
        
    </body>
</html>
<style is:global>
	html.lenis {
		height: auto;
	}

	.lenis.lenis-smooth {
		scroll-behavior: auto !important;
	}

	.lenis.lenis-smooth [data-lenis-prevent] {
		overscroll-behavior: contain;
	}

	.lenis.lenis-stopped {
		overflow: hidden;
	}

	.lenis.lenis-scrolling iframe {
		pointer-events: none;
	}
	:root {
		--color-primary: #343434;
		--color-primary-a: #343434cc;

		--color-primary-50: #8b8b8b;
		--color-primary-100: #828282;
		--color-primary-200: #717171;
		--color-primary-300: #5f5f5f;
		--color-primary-400: #4d4d4d;
		--color-primary-500: #343434;
		--color-primary-600: #2e2e2e;
		--color-primary-700: #222222;
		--color-primary-800: #151515;
		--color-primary-900: #080808;
		--color-primary-950: #020202;

		--color-secondary: #f9f9eb;
		--color-secondary-a: #f9f9ebcc;
		--color-secondary-a2: #f9f9eb28;
		--color-secondary-50: #fefefd;
		--color-secondary-100: #fefefb;
		--color-secondary-200: #fdfcf7;
		--color-secondary-300: #fbfbf3;
		--color-secondary-400: #fafaef;
		--color-secondary-500: #f9f9eb;
		--color-secondary-600: #f4f4db;
		--color-secondary-700: #eff0cc;
		--color-secondary-800: #e9ebbc;
		--color-secondary-900: #e3e6ac;
		--color-secondary-950: #e0e4a4;
	}
	.dark {
		--color-primary: #f9f9eb;
		--color-primary-50: #fefefd;
		--color-primary-100: #fefefb;
		--color-primary-200: #fdfcf7;
		--color-primary-300: #fbfbf3;
		--color-primary-400: #fafaef;
		--color-primary-500: #f9f9eb;
		--color-primary-600: #f4f4db;
		--color-primary-700: #eff0cc;
		--color-primary-800: #e9ebbc;
		--color-primary-900: #e3e6ac;
		--color-primary-950: #e0e4a4;
		--color-primary-a: #f9f9ebcc;

		--color-secondary: #343434;
		--color-secondary-a: #343434cc;
		--color-secondary-a2: #f9f9eb47;
		--color-secondary-50: #8b8b8b;
		--color-secondary-100: #828282;
		--color-secondary-200: #717171;
		--color-secondary-300: #5f5f5f;
		--color-secondary-400: #4d4d4d;
		--color-secondary-500: #343434;
		--color-secondary-600: #2e2e2e;
		--color-secondary-700: #222222;
		--color-secondary-800: #151515;
		--color-secondary-900: #080808;
		--color-secondary-950: #020202;
	}
	body {
		@apply bg-secondary font-monospace text-primary;
	}

	.mbp__wrapper {
		@apply mx-auto flex w-full flex-col px-4 lg:max-w-9xl lg:px-8;
	}
	.mbp__header {
		@apply bg-primary pb-20 pt-28 text-secondary;
		.mbp__title {
			@apply flex flex-col gap-2 font-head text-5xl lg:w-2/3 lg:text-6xl xl:text-7xl;
			span {
				@apply leading-[1.1];
			}
		}
	}
	.menu__item_text {
		p {
			@apply ml-5 w-1/3;
		}
	}
	.mbp__text {
		@apply prose max-w-none;
	}

	.mbp__button {
		@apply flex items-center justify-center text-sm uppercase leading-none;
		span {
			@apply flex h-9 items-center justify-center rounded-full bg-transparent px-8 pt-0.5 text-center text-primary transition-all duration-300 ease-in-out;
		}
		i {
			@apply flex h-9 w-9 items-center justify-center rounded-full bg-transparent text-center text-primary transition-all duration-300 ease-in-out;
		}
		&:hover {
			span {
				@apply rounded-br-none rounded-tr-none bg-primary text-secondary;
			}
			i {
				@apply rounded-bl-none rounded-tl-none bg-primary text-secondary;
			}
		}
		&.small {
			@apply text-xs;
			span {
				@apply h-8 px-6;
			}
			i {
				@apply h-8 w-8;
			}
		}
	}
	.broken_text p {
		@apply mb-4;
	}
</style>